# SERVER AND DATABASE
PORT=8000
DATABASE_URL=your_db_link

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=cloudinary_cloud_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret

#CORS
FRONTEND_URL=your_frontend_url

#NODEMAILER
EMAIL_USER=example@gmail.com
GOOGLE_APP_PASSWORD=google_app_password


#JWT
JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret